.about_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about_list_item {
  width: 30%;
  margin: 5%;
}
.about_list_item_img {
  width: 100%;
  height: 250px;
  box-shadow: 10px 10px 20px #dddddd;
}
.about_list_item_img img {
  width: 100%;
  height: 100%;
}
.about_list_item_ttl {
  text-align: center;
  margin: 5% 0;
  font-size: 1.5em;
}
.about_list_item_ttl_1 {
  color: #008000;
}
.about_list_item_ttl_2 {
  color: #0000FF;
}
.about_list_item_ttl_3 {
  color: #FF0000;
}
.about_list_item_ttl_4 {
  color: #F16110;
}
.about_list_item_exp {
  line-height: 2;
}

@media screen and (max-width: 480px) {
  .about_list {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .about_list_item {
    width: 100%;
    margin: 15% 0;
  }
  .about_list_item_ttl {
    font-size: 1.2em;
  }
  .about_list_item_exp {
    font-size: 0.9em;
  }
}
