.recruit_info {
  width: 80%;
  margin: 10% auto;
}
.recruit_info_ttl {
  font-size: 1.5em;
  border-left: 3px solid #45DFC3;
  padding-left: 2%;
}
.recruit_info table {
  margin: 10% auto;
  width: 70%;
}
.recruit_info table tr {
  border: 1px solid #000000;
}
.recruit_info table tr .item {
  background-color: #f3f3f3;
  border-right: 1px solid #000000;
  vertical-align: middle;
  padding: 1.5%;
  width: 15%;
}
.recruit_info table tr td {
  vertical-align: middle;
  padding-left: 2%;
  line-height: 1.8;
}
.recruit_form {
  width: 80%;
  margin: 10% auto;
}
.recruit_form_ttl {
  font-size: 1.5em;
  border-left: 3px solid #45DFC3;
  padding-left: 2%;
}

.form {
  width: 60%;
  margin: 0 auto;
}
.form label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}
.form input, .form textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 60%;
  margin-bottom: 2.5%;
}
.form input {
  padding: 1%;
}
.form textarea {
  vertical-align: top;
  height: 200px;
}
.form .button3 {
  text-align: center;
}
.form .button3_submit {
  padding: 1.5% 5%;
  background-color: #555;
  margin: 5% 0;
  font-weight: bold;
  border: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .recruit_info {
    width: 90%;
  }
  .recruit_info_ttl {
    font-size: 1.4em;
  }
  .recruit_info table {
    width: 90%;
  }
  .recruit_form {
    width: 90%;
  }
  .recruit_form_ttl {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 480px) {
  .recruit_info {
    width: 90%;
  }
  .recruit_info_ttl {
    font-size: 1.2em;
  }
  .recruit_info table {
    width: 100%;
  }
  .recruit_info table .item {
    font-size: 0.8em;
    width: 45%;
  }
  .recruit_info table td {
    font-size: 0.8em;
    width: 55%;
    margin-right: 2%;
  }
  .recruit_form {
    width: 90%;
  }
  .recruit_form_ttl {
    font-size: 1.2em;
  }

  .form {
    width: 80%;
  }
  .form label {
    display: block;
    width: 60%;
  }
  .form input, .form textarea {
    width: 100%;
  }
}
